<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581619753026-spjfc3utn6uso02vb3fl1oheuphg1hnq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581619753026-spjfc3utn6uso02vb3fl1oheuphg1hnq</string>
	<key>API_KEY</key>
	<string>AIzaSyDl2XT-3IL1n-jLQcswXlEWUXucjRmhn6w</string>
	<key>GCM_SENDER_ID</key>
	<string>581619753026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xevo.ashish.LoginApp</string>
	<key>PROJECT_ID</key>
	<string>info6350-cf2b1</string>
	<key>STORAGE_BUCKET</key>
	<string>info6350-cf2b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581619753026:ios:aa0702df761995b9d8cddb</string>
	<key>DATABASE_URL</key>
	<string>https://info6350-cf2b1.firebaseio.com</string>
</dict>
</plist>